---

---

<button class="sub">Subscribe</button>

<style>
  .sub {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition:
      box-shadow 0.4s ease,
      transform 0.3s ease;
  }
  .sub:hover {
    box-shadow:
      0 0 10px rgba(234, 2, 234, 0.6),
      0 0 20px rgba(73, 105, 246, 0.6),
      0 0 30px rgba(255, 0, 0, 0.6),
      0 0 40px rgba(255, 165, 0, 0.6);
    transform: scale(1.05);
  }
</style>
