---

---

<!-- Denne kanp siger sig selv. 
Man kan antage der skal være 3 størrelser, 
og en variant med Ticket, og en med Buy
Den skal have en Standard og en Hover variant -->
<button> </button>

<style></style>
