/* Her skal den overordnet styling forgå */
<<<<<<< HEAD

body {
  background-color: black;
  color: white; /* Optional: sets text color to white for better contrast */
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
}

.photo-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
=======
* {
    box-sizing: border-box;
>>>>>>> a84d812c391be84c4c1ae5afe265d1adea89f8da
}
