---
import Artistmedianav from "../Navgation/Artistmedianav.astro";
import Stageandtime from "./sub-components/Stageandtime.astro";
import Track from "./sub-components/Track.astro";
---

<article>
  <h2></h2>
  <img src="" alt="" />
  <p></p>
  <Artistmedianav />
  <Stageandtime />
  <Track />
</article>

<script></script>
