---

---

<!-- Denne Component er de So-Me nav, som skal være under artisternes "singleview"
bestående af : Spotify, Instagram, Soundcloud -->
<nav>
  <a href="#"><i class="fa-brands fa-instagram"></i> </a>
  <a href="#"><i class="fa-brands fa-soundcloud"></i> </a>
  <a href="#"><i class="fa-brands fa-spotify"></i> </a>
</nav>

<style></style>
