---

---

<!-- Denne Component er de So-Me nav, som skal være under artisternes "singleview"
bestående af : Spotify, Instagram, Soundcloud -->
<div class="media-nav">
  <a href="#"><i class="fa-brands fa-instagram"></i> </a>
  <a href="#"><i class="fa-brands fa-soundcloud"></i> </a>
  <a href="#"><i class="fa-brands fa-spotify"></i> </a>
</div>

<style>
  .media-nav {
    position: fixed;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 20px;
  }

  .media-nav a {
    color: white;
    background: black;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition:
      transform 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
  }

  .media-nav a i {
    font-size: 30px;
    transition: background 0.3s ease-in-out;
  }

  .media-nav a:hover i {
    background: linear-gradient(
      45deg,
      rgb(234, 2, 234),
      rgb(73, 105, 246),
      red,
      orange
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  .media-nav a:hover {
    box-shadow:
      0 0 20px rgba(234, 2, 234, 0.8),
      0 0 40px rgba(73, 105, 246, 0.8),
      0 0 60px rgba(255, 0, 0, 0.8),
      0 0 80px rgba(255, 165, 0, 0.8);
  }
</style>
