---
import Logobutton from "../Buttons/Logobutton.astro";
import Tricketbutton from "../Buttons/Tricketbutton.astro";
---

<!-- Navi-bar og Burger skal componeres her. -->
<nav>
  <Logobutton />
  <Tricketbutton />
  <a href="#">Line-up</a>
  <a href="#">Tickets</a>
  <a href="#">About</a>
</nav>

<style></style>
